.card{
    padding: 20px;
    background-size: cover;
    background-color:rgb(220, 205, 235);
    background-position: center;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    color: rgb(22, 21, 21);
    font-size: 24px;
    font-weight: bold;
    border-radius: 25px;
    transition: all 2s ease-in-out;
}

.card-animation{
    background-color: rgb(0, 47, 255);
    transition: all 2s ease-in-out;
    color: bisque;
}

.card.secondaire{
    background-color: rgb(21, 236, 14);
    color: rgb(8, 8, 8);
}

footer .card{
    background: #66a0b9;
    font-size: 0.75em;
    width: 50%;
    align-items: flex-start;
}